td {
  border: 2px solid black;
  margin: 10px;
  text-align: center;
  padding: 2px;
}
.table.complex {
  border-collapse: collapse;
}

.table.complex tr:first-of-type td:nth-child(2) {
  color: red;
}

.bold {
  font-weight: bold;
  color: white;
}
